* {
    margin:  0;
    padding: 0;
  }
  
.bd-navbar {
    min-height: 4rem;
    background-color: #42138d;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.container-fluid .navbar-brand {
    font-family: 'Oswald', sans-serif;
    padding-right: 30px;
    font-size: 26px;

}
.navbar a{
    color: #e9e9e9;
    font-size: 15px;

}

/* index */
.titulos__date {
    font-size: 15px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.contenedor__fechas{

    background-color: #ebebeb;
} 

.class__padre__index{
    margin: 4rem auto 4rem auto;
}

.class__padre__index h1{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #636363;
    margin-bottom: 1rem;
    text-align: center;

}
.contenedor__cardAndTitle{
    margin: auto;
}

.class__padre__index .img__first__index img{
    width: 300px;
    height: 400px;
    display: block;
    margin: auto;

}

.class__padre__index .img__second__index img{
    width: 800px;
    height: 400px;
}
.contenedor__cardAndTitle button{
    width: 100%;
    margin-top: 1.2rem;
    background-color: #42138d;
    color: #e9e9e9;
    transition: 0.8s;

}
.contenedor__cardAndTitle button:hover{
    background-color: #601dca;
    color: #e9e9e9;
}

.titulo__des h2{
    
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #636363;
    text-align: center;
}
.img__second__index img{
    height: 400px;
    width: 700px;
    max-width: 100%;
}

.class__padre__index .boton__index__oferta{
    width: 100%;
    margin: 4rem 0 0 0;
    background-color: #42138d;
    color: #e9e9e9;
    transition: 0.8s;

}
.class__padre__index .boton__index__oferta:hover{
    background-color: #601dca;
    color: #e9e9e9;
}

/* TOP destinos mas buscados */
.clase__padre__topDestinos h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #636363;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10rem;
}
.clase__padre__topDestinos img{
    margin-top: 6rem;
    height: 320px;
}

/* SECCION SOBRE NOSOTROS */

.titulo__turismopop{
margin-top: 4rem;
    font-weight: 700;
    font-size: 60px;
}
.des__turismopop{
    font-family: 'Roboto', sans-serif;
    max-width: 440px;
    padding-top: 20px;


}

.container .img__about{
    margin-top: 4rem;
    margin-bottom: 5rem;
}


/* SECCION DE OFERTAS */

.titulo__ofertas {
    margin-top: 1.2rem;
    padding: 20px 20px 0px 20px;
    font-family: 'Oswald', sans-serif;

}
.subtitulo__ofertas{
    padding: 0px 20px 30px 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
.card-group{
    padding: 10px 20px 20px 20px;
}
.text-muted3{
    text-decoration: line-through;
}
.titulo__ofertas__destino{
text-transform: uppercase;
text-align: center;
margin-top: 2.5rem;
}
.texto__ofertas__destino{
    margin-top: 2rem;
}

/* ELGIR ASIENTO CSS*/





/* Footer */
.footer-section{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 6rem;
    
}
.footer-section p{
    font-size: 13px;

}

.footer-section .texto__footer__secundario{
    margin-top: 0.9rem;
    opacity: 0.9;
}

@media (max-width: 690px) {
    .img__second__index h1{
        margin-top: 1.5rem;
    }
    .img__second__index img{
        max-height: 170px;
    }
  }